@model MediaWeb.Models.Song.Genre.SongGenreDeleteViewModel


<form asp-controller="SongGenre" asp-action="Delete" method="delete">

    <p>Wil je zeker @Model.Name verwijderen?</p>
    <button asp-action="ConfirmDelete" asp-controller="SongGenre" asp-route-id="@Model.Id">Ja</button>
    <button asp-action="Index" asp-controller="SongGenre">Nee</button>
</form>