<ul>
    <li>
        <a asp-area="" asp-controller="MovieGenre" asp-action="Index">Movie Genres</a>
    </li>
    <li>
        <a asp-area="" asp-controller="MovieRegisseur" asp-action="Index">Movie Regisseurs</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Movie" asp-action="Index">Movies</a>
    </li>
</ul>
